<<<<<<< HEAD
{% extends 'index.twig' %}

{% block main %}

        <h1>About</h1>

{% endblock %}
||||||| merged common ancestors
=======
{% extends "index.twig" %}

{% block main %}
    <section>
        <h1>About Page</h1>
    </section>
{% endblock %}
>>>>>>> dev
