<<<<<<< HEAD
{% extends 'index.twig' %}

{% block main %}

    <h1>Blog Details</h1>

{% endblock %}
||||||| merged common ancestors
<h1>blog details page</h1>
=======
{% extends "index.twig" %}

{% block main %}
    <section>
        <h1>Blog Details Page</h1>
    </section>
{% endblock %}
>>>>>>> dev
