<<<<<<< HEAD
{% extends 'index.twig' %}

{% block main %}
||||||| merged common ancestors
<h1>Home Page</h1>

=======
{% extends "index.twig" %}
>>>>>>> dev

<<<<<<< HEAD
    <h1>Home page</h1>

{% endblock %}
||||||| merged common ancestors
=======
{% block main %}
    <section>
        <h1>Home Page</h1>
    </section>
{% endblock %}
>>>>>>> dev
