<section>
  <div>
    {# Main Photo goes here #}
  </div>
</section>

<section>
  {% for entry in craft.entries.section('blogPosts').limit(9).all() %}
  
    {# Add card content here #}
  
  {% endfor %}
</section>



