<<<<<<< HEAD
 <footer>
   <h3>footer</h3>
  </footer>
||||||| merged common ancestors
{# <footer>
    <div>
      <ul>
        <li>
          <a>
            <i class="fab fa-facebook-f"> </i>
          </a>
        </li>
        <li>
          <a>
            <i class="fab fa-instagram"> </i>
          </a>
        </li>
        <li>
          <a>
            <i class="fab fa-google-plus-g"> </i>
          </a>
        </li>
        <li>
          <a>
            <i class="fab fa-linkedin-in"> </i>
          </a>
        </li>
        <li>
          <a>
            <i class="fab fa-dribbble"> </i>
          </a>
        </li>
      </ul>
    </div>
   
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
  </footer> #}
=======
>>>>>>> dev
