<!DOCTYPE html>
<header>
    <nav>
        <div class="avatar">
            <img src="https://via.placeholder.com/100" alt="">
            <h3>Nancy Copanos</h3>
        </div>
        <div class="nav-links">
            <ul>
                {% for linkItem in navigation.linkGroup.all() %}
                    <li>
                        {{ linkItem.customLink.getLink({class: 'link-item'})}}
                    </li>
                {% endfor %}
            </ul>
        </div>
{#        <div class="social-links">#}
{#            <ul>#}
{#                <li>Instagram</li>#}
{#                <li>Facebook</li>#}
{#                <li>Pinterest</li>#}
{#                <li>Subscribe</li>#}
{#            </ul>#}
{#        </div>#}
    </nav>
</header>