{% extends "index.twig" %}

{% block main %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4">Hello, World!</h2>
      <p class="lead">This is my first Craft project!</p>
    </div>
  </div>
{% endblock %}